.container
  .row
    .col-md-12
      - if @room.bookings.any?
        - @room.bookings.each do |booking|
          %h2= link_to booking.name, room_booking_path(@room, booking)
          %h4= booking.description
          %h6= booking.start_time.strftime('%e %B %Y, %H:%M')
          %h6= booking.end_time.strftime('%e %B %Y, %H:%M')
      - else
        No bookings yet
