/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */
 // @import "bootstrap-sprockets";
 // @import "bootstrap";

 $primary-color: #ff5500;
 $secondary-color: #E8E8E8;

 .navbar {
  background: white;
  border-radius: none !important;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
 }

 .navbar-brand {
  font-family: 'Josefin Slab';
  color: $primary-color !important;
  font-weight: bold;
  font-size: 2em;
 }

 body {
  font-family: 'Raleway';
  color: black;
  font-weight: lighter;
  background-color: #F6F8F8 ;
 }

.btn.btn-primary {
  background-color: $primary-color;
  border: none;
  margin: 10px;
}

.btn.btn-primary:active {
  background-color: #ee4400;
  border: none;
  outline: none;
}

.btn:focus {
  outline: none;
}

i.fa{
  margin-left: 4px;
}

.container{
  text-align: center;
}

.booking-forms {
  background-color: white;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.room-calendar{
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 2em;
}

.form-control {
  border: none;
  border-bottom: $secondary-color solid 1.5px;
  box-shadow: none;
  border-radius: 0px;
}

.form-control:focus {
  border-bottom: $primary-color solid 1.5px;
  outline: none !important;
  box-shadow: none;
}

form label {
  color: white;
  font-size: 5px;
  margin: 0px;
  padding: 0px;
  display:none;
}

form {
  padding: 0px 30px 0px 30px;
}

#book-button {
  margin-top: 10px;
}

#form-title {
  color: $primary-color;
  align: left;
  font-family: 'Josefin Slab';
  font-size: 3em;
  margin-top: 10px;
}

#calendar-title {
  color: $primary-color;
  align: left;
  font-family: 'Josefin Slab';
  font-size: 3em;
  margin-top: 10px;
}

span.input-group-addon {
  background-color: white;
  color: $primary-color;
  border: none;
  border-bottom: $secondary-color solid 1.5px;
  border-radius: 0px;
}

span.input-group-addon:active{
  border-bottom: $primary-color solid 1.5px;
  outline: none !important;
  box-shadow: none;
}

.timepicker{
 width: 20%;
}

ul li{
  text-align: center;
}

.list-unstyled {
  padding-left: 40px;
}

.usetwentyfour{
  display: inline-block;
}
#datetimepicker4{
  display: inline-block;
}
#datetimepicker3{
  display: inline-block;
}

#datetimepicker6 {
  display:none;
}

#datetimepicker7 {
  display:none;
}

tr td {
  margin: 0px !important;
  padding: 0px !important;
}

td a {
  margin: 0px !important;
  padding: 0px !important;
}

h5 {
  margin-left: 0px !important;
  padding: 0px !important;
  margin-top: 20px;
  align: center;
  color: $primary-color;
  font-family: 'Josefin Slab';
  font-size: 1.5em;
}

span.glyphicon-chevron-up {
  color:$primary-color;
}

span.glyphicon-chevron-down {
  color:$primary-color;
}

.start-time-picker {
  align-items: center;
  display: inline-block;
}

.end-time-picker {
  margin-left: 2em;
  align-items: center;
  display: inline-block;
}

.to {
  display: none;
}

#in-use {
  background-color: $primary-color;
  color: white;
  font-size: 9em;
  height: 100%;
  padding-top: 15%;
  padding-left: 0.5em;
  font-weight: 500;
}

#available {
  background-color: #00da9d;
  color: white;
  font-size: 9em;
  height: 100%;
  padding-top: 15%;
  padding-left: 0.5em;
  font-weight: 500;
}

.table.table-striped {
  table-layout: fixed;
  th {
    text-align: center;
  }
}

.day div {
  border-bottom: white 1px dotted;
}

.calendar-heading {
  margin: 5px;
}

#add-room {
  margin: 30px;
  background-color: #377BB5;
}

#add-button {
  margin-top: 30px;
  margin-bottom: 0px;
}

.booking-detail {
  background-color: white;
  padding: 0.5em;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 2em;
  padding-bottom: 2em;
}

.title {
color: $primary-color;
align: left;
font-family: 'Josefin Slab';
font-size: 3em;
margin-top: 10px;
}

.simple-calendar {
  margin-top: 15px;
}

.room-title {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px !important;
  }
  .to {
    display: inline-block;
    position: absolute;
    margin-top: 9.5em;
    font-weight: bold;
  }
}
